#container{
	display:inline-block;
	border:1px solid;
	width:600px;
	height:600px;
	margin-top:0px;
	padding-top:0px;

}
.mote{
	display:inline-block;
	background-color:black;
	color:black;

}
#clear-button{
	width:100px;
	height:70px;

	background-color:red;
	margin-left:600px;
	margin-right:500px;
	display:inline-block;
	border:1px black solid;
	text-align:center;
	position:relative;
	margin-top:-601px;
}